:root {
  --first-color: #6c63ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --second-color: #f5f2fe;
}

body {
  text-align: center;
  margin: 60px auto;
  max-width: 800px;
  background-color: #fdfdaf;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  color: lightslategray;
}
h1 h2 h3 {
  margin: 0;
}

.links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--first-color);
  font-size: 20px;
  text-decoration: none;
}
